.main {
	padding-left: 527px;
    display: flex;
    align-items: flex-start;
}

.asteroids_block {
    flex: 0 0 400px;
}

.asteroids_title {
    font-size: 28px;
    font-weight: 700;
    line-height: 130%;
    align-self: stretch;
    margin-bottom: 8px;
}