.main {
	padding-left: 527px;
    display: flex;
    align-items: flex-start;
}

.asteroids_block {
    flex: 0 0 400px;
}

.asteroids_title {
    font-size: 28px;
    font-weight: 700;
    line-height: 130%;
    align-self: stretch;
    margin-bottom: 8px;
    max-width: 100%;
}

.asteroids_back_button {
    cursor: pointer;
    color: #f86600;
}

.asteroids_back_button:hover {
    text-decoration: underline;
}

@media (max-width: 1195px) {
    .main {
        padding-left: 362px;
    }
}

@media (max-width: 997px) {
    .main {
        padding-left: 150px;
    }
}

@media (max-width: 768px) {
    .main {
        padding-left: 100px;
    }
}

@media (max-width: 600px) {
    .main {
        padding-left: 45px;
    }

    .asteroids_block {
        flex: 0 0 280px;
    }
}