.sidebar_box {
    position: fixed;
    top: 138px;
    left: 0;
    width: 400px;
    height: 620px;
}

.sidebar_box img {
    max-width: 100%;
    max-height: 100%;
}

@media (max-width: 1195px) {
    .sidebar_box {
        width: 304px;
        height: 436px;
    }
}

@media (max-width: 997px) {
    .sidebar_box {
        left: -200px;
    }
}

@media (max-width: 768px) {
    .sidebar_box {
        left: -270px;
    }
}